h4.no-transform{
    text-transform: none;
}
p{
    color: black;
    font-size: 1.2rem;
}
.table th, .table td{
    color: black;
    font-size: 1.1rem;
    padding: 15px 0 15px 15px;
    margin: 0;
    vertical-align: middle;
}
.table{
    border-collapse: collapse;
}
.minh-100{
    min-height: 80vh;
}
.table .thead-dark th{
    background-color: black;
}
.table-striped tbody tr:nth-of-type(odd){
    background: white;
}
.table-striped tbody tr{
    /* background: #BEDAFC; */
    background: #FFECB3;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: lightgrey;
}
.btn-blue{
    color: white;
    /* background-color: #0F367B; */
    background: black;
    margin-right: 10px;
}
.btn-blue-soft{
    color: white;
    /* background-color: #0091EA; */
    background: #FFC107;
    color: black;
    margin-right: 10px;
}
td.nombre{
    width: 20%;
}
body{
    color: black;
}
p.error{
    color:red;
    font-size: 0.8rem;
}