h4.no-transform{
    text-transform: none;
}
p{
    color: black;
    font-size: 1.2rem;
}
.table th, .table td{
    color: black;
    font-size: 1.1rem;
    padding: 15px 0 15px 15px;
    margin: 0;
}
.table{
    border-collapse: collapse;
}
.minh-100{
    min-height: 80vh;
}